<div class ="container" style="padding-top: 120px;">
    <div class="row">
        <div class="col-6">
            <form  [formGroup]="reservarForm">
                <div class="form-group">
                    <label>Nombre: </label>
                    <input type="text" formControlName="firstname" class="form-control">
                </div>
                <div class="form-group">
                    <label>Apellido: </label>
                    <input type="text" formControlName="lastname" class="form-control">
                </div>
                <div class="form-group">
                    <label>Correo: </label>
                    <input type="text" formControlName="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Fecha: </label>
                    <input type="text" formControlName="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>Mensaje: </label>
                    <textarea formControlName="message" rows="3" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-info">Reservar</button>
                </div>

            </form>
        </div>
        <div class="col-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.115809860675!2d-76.96789927680946!3d-12.10422356401475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c70ab77498c1%3A0xcce9f50642e7c684!2sUniversidad%20Peruana%20de%20Ciencias%20Aplicadas!5e0!3m2!1ses-419!2spe!4v1668460265828!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
