<section id="portfolio" style="padding: 75px 0px;background-image: url(&quot;assets/img/backgrounds/list-bg.jpg&quot;);">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;">Reporte de procesos</h2>
                <div class="table-responsive table-striped" style="border-radius: 10px;">
                    <table class="table" style="margin:0px;">
                        <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                            <tr>
                                <th class="align-middle">Nº</th>
                                <th class="align-middle"><strong>DNI</strong><br></th>
                                <th class="align-middle"><strong>Tipo de proceso</strong><br></th>
                                <th class="align-middle"><strong>Nº de expediente</strong><br></th>
                                <!--<th class="align-middle"><strong>Monto</strong><br></th>-->
                                <th class="align-middle" style="text-align: center;">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">01</td>
                                <td class="align-middle">912346445</td>
                                <td class="align-middle">Tributario</td>
                                <td class="align-middle">43</td>
                                <!--<td class="align-middle">S/.2500.00</td>-->
                                <td class="text-center">En tramite<a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#modal" style="margin-left:5px;"><i class="fa fa-file-text-o"></i></a></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td><em>978935468</em><br></td>
                                <td>Penal</td>
                                <td>36</td>
                                <!--<td>S/.310300.00<br></td>-->
                                <td class="text-center">Concluido</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>